* {box-sizing:border-box;
background-color: blanchedalmond;
margin: 0%;
padding: 0%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.Containers {
  float:right;
  padding:3em;
  width: 30%;
  justify-content: space-between;
 
}
.Info{
    display:flex; 
}
 
  .MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  
  /* The circles or bullets and indicators */
  
  
  /* Faint animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  .logo{
 display: block;
 margin-left: auto;
 margin-right: auto;
 height: 15em;
 width: 30em;

  }
 
 nav{
    text-decoration: none;
    padding: 16px 14px;
     text-align: center;
     align-items: center;
    font-size: 20px;
    justify-content: space-between;
    background-color:rgba(172, 36, 36, 0.5);
    display: flex;
    margin: auto;
  }
  .nav-link{
    flex: 1;
    text-align: center;
margin: auto;
  }
  ul{
    text-decoration: none;
    text-align: center;
    display: flex;
  
  }
  .nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 
  }
  .nav-link ul li a{
    text-decoration: none;
   font-size: 20px;
   text-align: center;
   float: left;
  }
  .nav-link ul li::after{
    width: 100%;
    display: block;
margin: auto;
height: 2px;
transition: 0.5s;
  }
  .nav-link ul li:hover{
   background-color: aqua;
    display: block;
transition: 0.5s;
text-decoration: underline;
  }
  @media(max-width: 700px){
    .nav-link ul li{
        display: block;
    }
    .nav-link ul{
font-size: 12px;
    }
  }
  #footer{
    justify-content: space-between;
    float: left;
    display: flex;
    padding: 20px;
    margin: 1em;
    margin-top: 4%;
  
  }
   .copyright{
    /* float: right;  */
    display: flex;
     margin-left: 100%;
    /* background-color: #ee3780; */
  } 
  .footer{
    background-color: #ee3780;
    position: relative;
  }
 #present{
    text-align: center;
  }
  h1{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
  }
  p{
    font-size: 20 px;
    line-height: 20px;
    padding: 1em;
    justify-content: center;
  }
  h2{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
  }
  .photo{
    margin-left: 19%;
    border-radius: 25%;
  }
  .btn{
    background-color: #ee3780;
    border: 2px solid;
    border-radius: 10px;
    size:10px;
    display: inline-block;
    padding: 20px;
    width: 200px;
    margin-left: 30%;
    text-align: center;
    text-decoration: none;
    margin-top: 0cm;
    font-size: medium;
  }
  .btn:hover{
    background-color: rgb(112, 88, 108);
    display: block;
transition: 0.5s;
text-decoration: underline;
  }
  .offer{
    /* height: 20%;
    
    border-radius: 30%; */
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: -33px;
    width: 100%;
    
  }
  .offer img{
    width: 80%;
  }
  /* .promo{
  margin-left: 70%;
  background: black;
  } */
  .promo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
    /* background: rgb(211, 174, 180); */
    
  }
  .promo-container .promo{
    background: linear-gradient(-55deg,rgb(211, 181, 186) 29%,rgb(215, 188, 192) 29%);
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 5px black;
    overflow: hidden;
  }
  .content{
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    
  }
  .content span{
    color: rgb(234, 48, 209);
    font-size: 40px;
    
  }
  .content p{
    color: rgb(244, 10, 213);
    font-size: 20px;
    padding: 10px 0;
  }